BOOKING_POSTGRES_USER=your_nickname
BOOKING_POSTGRES_PASSWORD=your_pass
BOOKING_POSTGRES_DB=booking_db

BOOKING_DB_URL=postgresql://your_nickname:your_pass@booking-psql:5432/booking_db?sslmode=disable

BOOKING_MIGRATIONS_PATH=/app/migrations/booking

NOTIFICATIONS_POSTGRES_USER=your_nickname
NOTIFICATIONS_POSTGRES_PASSWORD=your_pass
NOTIFICATIONS_POSTGRES_DB=notifications_db

NOTIFICATIONS_DB_URL=postgresql://your_nickname:your_pass@notifications-psql:5432/notifications_db?sslmode=disable

NOTIFICATIONS_MIGRATIONS_PATH=/app/migrations/notifications

JWT_SECRET=your_secret
